<!-- Load underlying interface -->
{% extends "base.html" %}
{% block content %}

<!-- Build form in a Bootstrap card -->
<div class="card">
	<div class="card-header"> Cluster {{ calendar.tag }} </div>
	<div class="card-body">
		<form method="POST" style="text-align: center;">
			{{ form.hidden_tag() }}
			<p>
				{{ form.attribute(placeholder="Attribute Name (should be Event keyword)", class="custom-form-label") }}
			</p>
			<p>
				{{ form.shift(placeholder="Number of slots between similar events", class="custom-form-label") }}
			</p>
			<p>
				{{ form.start(class="custom-form-label") }}
			</p>
			<p>
				{{ form.centers(placeholder="Number of clusters to form", class="custom-form-label") }}
			</p>
			{{ form.submit() }}
		</form>
	</div>
</div>

{% endblock %}
