{% extends "base.html" %}

{% block content %}

  <div class="card">
    <div class="card-header">Upload Calendar Information</div>
    <div class="card-body">
      <form method="POST" action="/data_upload" style="text-align: center;">
        {{ form.hidden_tag() }}
        <p>
          {{ form.title.label(class="custom-form-label") }}<br>{{ form.title(placeholder="John's Schedule") }}
        </p>
        <p>
          {{ form.content.label(class="custom-form-label") }}<br>{{ form.content(placeholder="Friday, 1-2") }}
        </p>
        {{ form.submit() }}
      </form>
    </div>
  </div>

<!-- 
<div class="container">
  <div class="row header">
    <h1>Put in your schedule: &nbsp;</h1>
  </div>
  <div class="row body">
    <form action="#">
      <ul>
        <li>
          <p>
            <label for="schedule title">Schedule Title <span class="req">*</span></label>
            <input type="schedule title" name="schedule title" placeholder="John's Schedule" />
          </p>
        <li>
          <label for="schedule">Schedule:</label>
          <textarea cols="46" rows="3" name="schedule" placeholder="ex: Friday, 1-2"></textarea>
        </li>
        
        <li>
          <input class="btn btn-submit" type="submit" value="Submit" />
          <small>or press <strong>enter</strong></small>
        </li>
        
      </ul>
    </form>  
  </div>
</div>
 -->
{% endblock %}
