<!-- load underlying interface -->
{% extends "base.html" %}

<!-- Build form in a Bootstrap card -->
{% block content %}
  <div class="card">
    <div class="card-header">Upload Calendar Information</div>
    <div class="card-body">
      <form method="POST" action="/data_upload" style="text-align: center;">
        {{ form.hidden_tag() }}
        <p>
          {{ form.title(placeholder="Title", class="custom-form-label") }}
        </p>
        <p>
          {{ form.content(placeholder="Content", class="custom-form-label") }}
        </p>
        {{ form.submit() }}
      </form>
    </div>
  </div>
{% endblock %}
