<!-- load underlying interface -->
{% extends "base.html" %}

<!-- Build form in a Bootstrap card -->
{% block content %}
  <div class="card">
    <div class="card-header">Upload Calendar Information</div>
    <div class="card-body">
      <form method="POST" action="/data_upload" style="text-align: center;">
        {{ form.hidden_tag() }}
        <p>
          {{ form.title.label(class="custom-form-label") }}<br>{{ form.title(placeholder="John's Schedule") }}
        </p>
        <p>
          {{ form.content.label(class="custom-form-label") }}<br>{{ form.content(placeholder="Friday, 1-2") }}
        </p>
        {{ form.submit() }}
      </form>
    </div>
  </div>
{% endblock %}
