<!-- load underlying interface -->
{% extends "base.html" %}

<!-- Build form in a Bootstrap card -->
{% block content %}

<div class="card">
	<div class="card-header"> Generate Calendar </div>
	<div class="card-body">
		<form method="POST" style="text-align: center;">
			{{ form.hidden_tag() }}
			<p>
				{{ form.name(placeholder="Calendar Name", class="custom-form-label") }}
			</p>
			<p>
				{{ form.heuristic.label(class="custom-form-label") }}<br>{{ form.heuristic() }}
			</p>
			<p>
				{{ form.timeslots(placeholder="Time\nMM:DD:YY:HH:MM:SS", class="custom-form-label") }}
			</p>
			{{ form.submit() }}
		</form>
	</div>
</div>

{% endblock %}
