<!-- load underlying interface -->
{% extends "base.html" %}

<!-- Build form in a Bootstrap card -->
{% block content %}
	<div class="card">
		<div class="card-header">Login</div>
		<div class="card-body">
			<form method="POST" style="text-align: center;">
				{{ form.hidden_tag() }}
				<p>
					{{ form.email(placeholder="Email", class="custom-form-label") }}
				</p>
				<p>
					{{ form.password(placeholder="Password", class="custom-form-label") }}
				</p>
				{{ form.submit() }}
			</form>
	</div>
		<div class="card-footer text-center"><a href="registration.hml">Don't have an account?</a></div>
	</div>
{% endblock %}
