<!-- Build navbar -->
<div class="fast-nav">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<!-- TO-DO : Replace with logo -->
		<a class="navbar-brand" href="{{ url_for('index') }}"> FAST </a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navText" aria-controls="navText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- Display supported buttons -->
		<div class="collapse navbar-collapse" id="navText">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ url_for('index') }}"> HOME </a>
				</li>
				<!-- User options -->
				{% if current_user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('calendar.upload_event') }}"> Create Event </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('calendar.upload_file') }}"> Upload Events </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('users.generate_calendar') }}"> Create Calendar </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('users.view_events') }}"> View My Events </a>
					</li>
				{% endif %}
			</ul>
			<span class="navbar-text">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<!-- Non-User options -->
					{% if not current_user.is_authenticated %}
						<li class="nav-item"><a class="nav-link" href="{{ url_for('users.register') }}"> Register </a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('users.login') }}"> Login </a></li>
					{% endif %}
					<!-- User options -->
					{% if current_user.is_authenticated %}
						<li class="nav-item"><a class="nav-link" href="{{ url_for('users.logout') }}"> Logout </a></li>
					{% endif %}
				</ul>
			</span>
		</div>
	</nav>
</div>