<!-- load underlying interface -->
{% extends "base.html" %}

<!-- Build form in a Bootstrap card -->
{% block content %}
{% if form.errors %}
	{{ form.errors }}
{% endif %}
	<div class="card">
		<div class="card-header">Registration</div>
		<div class="card-body">
			<form method="POST" style="text-align: center;">
				{{ form.hidden_tag() }}
				<p>
					{{ form.email.label(class="custom-form-label") }}<br>{{ form.email(placeholder="jane.doe@host.com") }}
				</p>
				<p>
					{{ form.password.label(class="custom-form-label") }}<br>{{ form.password(placeholder="**********") }}
				</p>
				<p>
					{{ form.confirm.label(class="custom-form-label") }}<br>{{ form.confirm(placeholder="**********") }}
				</p>
				{{ form.submit() }}
			</form>
		</div>
		<div class="card-footer text-center"><a href="login.hml">Already have an account?</a></div>
	</div>
{% endblock %}
