<!-- load underlying interface -->
{% extends "base.html" %}

<!-- Build form in a Bootstrap card -->
{% block content %}

<div class="card">
	<div class="card-header" style="text-align: center;">{{ calendar.name }}</div>
	<div class="card-body">
		{% for time in calendar.obj.time_slots %}
			<h1 style="text-align: center;">{{ time }}</h1>
			{% for event in calendar.obj.events[time] %}
				<h3 style="text-align: center;">{{ event.tag }}</h3>
			{% endfor %}
		{% endfor %}
	</div>
	<div class="card-footer text-center"><a href="{{ url_for('calendar.cluster', calendar_id=calendar.id) }}">Cluster events</a><br><a href="{{ url_for('calendar.antiCluster', calendar_id=calendar.id) }}">Anti-cluster events</div>
</div>

{% endblock %}
